


<HTML>
	<HEAD><TITLE> </TITLE>
	</HEAD>
	<BODY>
		<font align="center" color="#993366" size="4" face="Comic Sans MS, Arial, MS Sans
		Serif">Inserta los campos del curso para darlo de alta
		</font>
		<form method="post" action="http://localhost/Proyecto/index.php">
			<font align="center" color="#00284F" size="4" face="Comic Sans MS, Arial, MS Sans
		    Serif"><br/>NOMBRE DEL CURSO*
			<input type='text' name='nombre'>
			<font align="center" color="#00284F" size="4" face="Comic Sans MS, Arial, MS Sans
		    Serif"><br/>Calendario &nbsp &nbsp &nbsp
			<input type='text' name='calendario'>
			<font align="center" color="#00284F" size="4" face="Comic Sans MS, Arial, MS Sans
		    Serif"><br/>NRC &nbsp &nbsp &nbsp
			<input type='text' name='nrc'>
			<font align="center" color="#00284F" size="4" face="Comic Sans MS, Arial, MS Sans
		    Serif"><br/>Fehca Incial &nbsp &nbsp
			<input type='text' name='fechainicial'>
			<font align="center" color="#00284F" size="4" face="Comic Sans MS, Arial, MS Sans
			Serif"><br/>Fecha Final*  &nbsp
			<input type='text' name='fechafinal'>
			<br/>
			<table border='0' cellspacing=1 cellpadding=3 bgcolor='#209500'>
				<tr><td colspan="5"  align="center">DIAS DEL CURSO</td>
				</tr>
				<tr align="center">
					<td>Lunes</td>
					<td>Martes</td>
					<td>Miercoles</td>
					<td>Jueves</td>
					<td>Viernes</td>
				</tr>
				<tr>
					<td bgcolor='#005400' align='center' border='1'>
						<INPUT type='checkbox' name='lunes'  >
					</td>
					<td bgcolor='#005400' align='center' border='1'>
						<INPUT type='checkbox' name='martes' >
					</td>
					<td bgcolor='#005400' align='center' border='1'>
						<INPUT type='checkbox' name='miercoles'  >
					</td>
					<td bgcolor='#005400' align='center' border='1'>
						<INPUT type='checkbox' name='jueves' >
					</td>
					<td bgcolor='#005400' align='center' border='1'>
						<INPUT type='checkbox' name='viernes' >
					</td>
				</tr>
				<tr bgcolor='#347721' align='center' border='1'>
					<td>
						<SELECT name="horariolunes" size="1">
							<option value="1">7:00 a 9:00</option>
							<option value="1">9:00 a 11:00</option>
							<option value="1">11:00 a 12:00</option>
						</SELECT>
					</td>
					<td>
						<SELECT name="horariomartes" size="1">
							<option value="1">7:00 a 9:00</option>
							<option value="1">9:00 a 11:00</option>
							<option value="1">11:00 a 12:00</option>
						</SELECT>
					</td>
					<td>
						<SELECT name="horariomiercoles" size="1">
							<option value="1">7:00 a 9:00</option>
							<option value="1">9:00 a 11:00</option>
							<option value="1">11:00 a 12:00</option>
						</SELECT>
					</td>
					<td>
						<SELECT name="horariojueves" size="1">
							<option value="1">7:00 a 9:00</option>
							<option value="1">9:00 a 11:00</option>
							<option value="1">11:00 a 12:00</option>
						</SELECT>
					</td>
					<td>
						<SELECT name="horarioviernes" size="1">
							<option value="1">7:00 a 9:00</option>
							<option value="1">9:00 a 11:00</option>
							<option value="1">11:00 a 12:00</option>
						</SELECT>
					</td>
				</tr>

			</table>
			<input type="hidden" name="ctrl" value="Curso"/>
			<input type="hidden" name="act" value="Alta"/>
			<input type='Submit' name='alta' value='Alta Curso'>
			</form>
	</BODY>
</HTML>
