<HTML>
	<HEAD><TITLE>SISTEMA DE ALUMNOS,Y GRUPOS</TITLE></HEAD>
	<form action="" method="post">
		<h4>Selecciona una opcion:</h4>
		<SELECT name="controlador" size="1">
			<option value="Alumnos">Alumnos</option>
			<option value="Profesores">Profesores</option>
			<option value="Curso" >Curso</option>
			<option value="Ciclo_escolar" >Ciclo escolar</option>
			<option value="Calificaciones" >Calificaciones</option>
			<option value="Asistencias" >Asistencias</option>
			<option value="Listas" >Listas</option>
		</SELECT>
	<INPUT type="SUBMIT" name="Selecccior" value="Seleccionar" >
	</form>
</HTML>
