
<HTML>
	<HEAD><title></title>
	</HEAD>
	<BODY>

		<font align="center" color="#993366" size="4" face="Comic Sans MS, Arial, MS Sans
		Serif">Llena los datos del alumno para consultar si existe y despues proceder a modificar
		</font>
		<form method="post" action="http://localhost/Proyecto/index.php">
		<font align="center" color="#00284F" size="4" face="Comic Sans MS, Arial, MS Sans
	    Serif"><br/>NOMBRE*
		<input type='text' name='nombre'>
		<font align="center" color="#00284F" size="4" face="Comic Sans MS, Arial, MS Sans
		Serif"><br/>Codigo* &nbsp
		<input type='text' name='codigo'>
		<input type="hidden" name="ctrl" value="Alumno"/>
		<input type="hidden" name="act" value="Modificar"/>
		<input type="Submit" name='modificar' value='modificar' >
	</BODY>
</HTML>
