
<HTML>
	<HEAD><TITLE>SISTEMA DE ALUMNOS,Y GRUPOS</TITLE></HEAD>
	<BODY background="Views/imagenes/fondo.gif">
		<form  action="http://localhost/Proyecto/index.php" method="post">
			<h4>Que deceas  hacer</h4>
			<SELECT name="opcionProfesor" size="1" >
				<option value="Alta"  >Alta del profesor</option>
				<option value="Baja">Baja del profesor</option>
				<option value="Consulta">Consutar un profesor</option>
				<option value="Modificar">modificar</option>
				<input type="hidden" name="act" value="opc"/>
				<input type="hidden" name="ctrl" value="Profesor"/>
			</SELECT>
			<INPUT type="SUBMIT" name="Seleccionar" value="Seleccionar" >
		</form>
	</BODY>
</HTML>


