

<HTML>
	<HEAD><TITLE> </TITLE>
	</HEAD>
	<BODY>
		<font align="center" color="#993366" size="4" face="Comic Sans MS, Arial, MS Sans
		Serif">Inserta los campos del profesor para agregarlo al sistema
		</font>
		<form method="post" action="http://localhost/Proyecto/index.php">
			<font align="center" color="#00284F" size="4" face="Comic Sans MS, Arial, MS Sans
		    Serif"><br/>NOMBRE*
			<input type='text' name='nombre'>
			<font align="center" color="#00284F" size="4" face="Comic Sans MS, Arial, MS Sans
		    Serif"><br/>Correo &nbsp
			<input type='text' name='correo'>
			<font align="center" color="#00284F" size="4" face="Comic Sans MS, Arial, MS Sans
		    Serif"><br/>Celular &nbsp
			<input type='text' name='celular'>
			<font align="center" color="#00284F" size="4" face="Comic Sans MS, Arial, MS Sans
			Serif"><br/>Codigo* &nbsp
			<input type='text' name='codigo'>
			<font align="center" color="#00284F" size="4" face="Comic Sans MS, Arial, MS Sans
			Serif"><br/>Carrera*
			<input type='text' name='carrera'>
			<input type="hidden" name="ctrl" value="Profesor"/>
			<input type="hidden" name="act" value="Alta"/>
			<input type='Submit' name='alta' value='Alta profesor'>
			</form>
	</BODY>
</HTML>
